# ×Ô¶¨Òå
Desktop_Qt_5_6_1_MinGW/
Desktop_Qt_5_6_1_MinGW_Static/
Desktop_Qt_5_6_2_MSVC2013_64bit/
debug/
release/
*.csv
*.xls

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
